<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">

</head>

<!-- Задания -->

<body>
  <div id="app">
    <main>
      <form action="" v-on:submit.prevent="createToDo">
        <select value="" v-model="day">
          <option value="1" szelected>Понедельник</option>
          <option value="2">Вторник</option>
          <option value="3">Среда</option>
          <option value="4">Четверг</option>
          <option value="5">Пятница</option>
          <option value="6">Суббота</option>
          <option value="7">Воскресенье</option>
        </select>
        <input type="text"v-model="ToDo" >
        <input type="submit" name="nubex" value="Готово " />
        
      </form>

      <ul>
        <li>
          <h4>Today</h4>
          
  
          <section class="toDoElement" v-for="item,index in list[0]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(0,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
            </label>
          </section>
        
        </li>

        <li>
          <h4>Tusday</h4>
          <section class="toDoElement" v-for="item,index in list[1]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(1,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
          
          </section>
            </label>
          </section>
        </li>

        <li>
          <h4>Wendnesday</h4>
          <section class="toDoElement" v-for="item,index in list[2]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(2,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
          
          </section>
            </label>
          </section>
        </li>

        <li>
          <h4>Thursday</h4>
          
          <section class="toDoElement" v-for="item,index in list[3]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(3,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
          
          </section>
            </label>
          </section>
        </li>

        <li>
          <h4>Friday</h4>
          
          <section class="toDoElement" v-for="item,index in list[4]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(4,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
          
          </section>
            </label>
          </section>
        </li>

        <li>
          <h4>Saturday</h4>
          
          <section class="toDoElement" v-for="item,index in list[5]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(5,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
          
          </section>
          </section>
        </li>

        <li>
          <h4>Sunday</h4>
         
         
          <section class="toDoElement" v-for="item,index in list[6]">
            <img src="" alt="">
            <label for="">
              <input type="checkbox" name="" id="">
            <p>{{item}}</p>
             <img v-on:click="removeTodo(6,index)" src="https://cdn-icons-png.flaticon.com/512/4225/4225690.png" width="20" height="20" alt="">
          
          </section>
            </label>
          </section>
        </li>
      </ul>

    </main>
    <nav>
      <button v-on:click="save" type="button" class="blue">Save</button>
      <button v-on:click="load" type="button" class="blue">Load</button>
    </nav>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="myscript.js"></script>
</body>

</html>